body {
font-family: 'Lora', serif;
    font-size: 14px;
    background: url(../img/loginbg.jpg) no-repeat center top; min-height: 100vh; background-size: cover; background-attachment: fixed;
  }
  /*h1, h2, h3{ font-family: 'Josefin Sans', sans-serif; font-weight: 600 !important; }*/
h1, h2, h3{ font-family: 'Lora', serif; font-weight: 600 !important; }
.btn, .btn-primary, .btn-light {font-family:'Lora', serif !important; }

  .extar_p{ padding-top: 20px; clear: both; }
  a{ color: #337ab7;}
  a:hover{color: #000;}
  ul{ padding-left:0;}
  .form-control{ border-radius: 0 !important; }
  .nav>li>a:focus, .nav>li>a:hover{ color: #000;}
  .btn-primary{ background-color: #17a6c4 !important;color: black !important; }
  .dashbord_poperty .top_dashbord_menu .container-fluid{ padding: 0; }
  .logo img{ width: 100%; max-width: 150px; padding-top: 10px; }
  .logo{ text-align: left; padding-top: 10px; overflow: hidden;}
  .login .logo{ text-align: center; }
  .login .btn-primary{ width: 100%; border-radius: 5px; }
  .setup_multistape > .container{   padding-bottom: 10px;}
  .setup_multistape #step-4 label{ line-height: 30px;}
  .setup_multistape #step-4 .form-group{ overflow: visible;}
  .setup_multistape
  .setup_multistape .logo{ text-align: left; padding-top: 10px;}
  .brand{ clear: both; padding-top: 30px; overflow: hidden;}
  .brand img{ float: left; padding-right: 20px; max-height: 30px;}
  .brand h4{ float: left; display: inline-block; padding-right: 10px;}
  .setup_multistape .nav-pills>li.active>a, .setup_multistape .nav-pills>li.active>a:focus, .setup_multistape .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #337ab7;
}
 .logo{ background: #fff; padding-left: 10px; padding-top: 0;  border-radius: 10px;  }
  .logo .account_info{ background: #03acce; padding:10px 15px; }
 .logo .account_info a{ color: #fff; }
.login .logo{ background: transparent; padding: 0 }
.ss_box h2{ border-radius: 5px 5px 0px 0px !important; margin-top: 0; background: #0bafd2 !important; color: #fff; line-height: 30px; }
.ss_box{ padding-bottom: 20px; margin-bottom: 20px;   border-radius: 5px; border:1px solid #ccc; }
.login .main{ margin: 10% auto; background: rgba(255,255,255,.9); }
.maintenance_list_title{ background: #fff; padding: 10px 0px; overflow: hidden;}
.maintenance_list_details{ clear: both;}
.open_status.label{ background: #8d1616 ; padding:5px 10px; margin-top: 40%; display: inline-block;}
.close_status.label{ background: #168d3e ; padding:5px 10px; margin-top: 40%; display: inline-block;}
.new_status.label{ background: #165d8d ; padding:5px 10px; margin-top: 40%; display: inline-block;}
.todo_status.label{ background: #8d1657 ; padding:5px 10px; margin-top: 40%; display: inline-block;}
.archived_status.label{ background: #8d6716 ; padding:5px 10px; margin-top: 40%; display: inline-block;}
.maintenance_list_details li{ list-style-type: none; padding: 20px 0px; border-bottom: 1px solid grey; overflow: hidden; display: block;}
.image-preview img{ max-width: 150px; width: 100%; margin-top:10%; display: inline-block;}
.welcome_list {
    background: #ebebeb;
    padding: 30px 36px 25px;
    -webkit-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
}
.welcome_list p strong {
    display: block;
    font-family: 'PTSansBold', Arial, sans-serif;
    font-size: 24px;
    color: #000000;
    font-weight: normal;
    margin: 0 0 25px;
}
.btn-light{

    background: #ffffff;
    
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #404040;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: solid #0bafd2 2px;
    text-decoration: none;
}

.btn-light{

    background: #ffffff;

    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #404040;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: solid #0bafd2 2px;
    text-decoration: none;
}
  .btn-primary{
      background: #ffffff !important;

      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      font-family: Arial;
      color: #404040;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 20px 10px 20px;
      border: solid #0bafd2 2px;
      text-decoration: none;}
  /*.btn-primary:hover{background:rgb(148, 32, 32) ; border-color: #337ab7; }*/
  .main {
    max-width:420px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;

  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  h1{ margin-bottom: 20px;}
  .ss_btn_facebook { border:none; background: #3b5998; border-radius: 10px !important;}
  .ss_btn_twitter {border:none; background: #00aced;}
  .ss_btn_google {border:none; background: #c32f10;}
  .setup-content h1 span, .setup-content h3 span, .ss_schedule h3 span{  color: #337ab7; }
  .ss_schedule{ margin-top:20px; position: relative; margin-top: 34px;}
    .ss_schedule::before{ height: 34px; position: absolute; top: -34px; content:""; display: block; width: 90%; background: url(../img/shadow_product_top.png) no-repeat; background-size: 100%;}   
 
  .ss_exta_lebal{ line-height: 30px; padding-right: 20px; font-weight: normal;}
  .step_5_header_cat, .step_5_header_content {
    display: inline-block;
    font-size: 15px;
    zoom: 1;
    padding: 10px 20px;
}
.step_5_header h4, .step_5_header p {
    line-height: 24px;
    margin: 0 0 20px 0;
    padding: 0;
}
.table_header{ background: #f1f1f1 !important; }
.ss_schedule{
 
    background: rgba(255,255,255,.5);
    padding: 30px 36px 25px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
#periodschedule{ background: #fff; }
.ss_price_list{
    background: #ebebeb;
    padding: 30px 36px 25px;
    -webkit-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
}
 .step_5_table {
    display: block;
    margin: 15px 10px 15px 10px;
    padding: 0px 0 10px 0;
    background: #fff;
}
.step_5_table ul.table_header {
    background-color: #fff;
    margin: 0 0 20px 0;
    padding: 13px 10px;
}
.step_5_table ul li h1{ display: none;}
 .step_5_table ul li {
    display: inline-block;
    float: left;
    zoom: 1;
    padding: 0;
    text-align: left;
    width: 20.5%;
    margin: 0 2%;
    font-size: 16px;
}
.step_5_table ul{ padding-left: 0; overflow: hidden;}
 .step_5_table ul li h1 {
  font-size: 16px;
  font-weight: normal;
}
  .step_5_table ul li:first-child {
    width: 9.5%;
    margin: 0;
}
.step_5_table ul li:last-child {
    width: 9.5%;
    margin: 0 0 0 2%;
}
.ss_color{color: #337ab7;}
.btn-black{
    color: #fff;

background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4c4c4c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4c4c4c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}
.btn-black:hover{ color:rgb(228, 228, 228);}
.tenant_box{ font-size:15px;}
.ss_enter_rent a{ display: block; margin-bottom: 10px; }
.ss_views_by{ background: #f1f1f1; border-radius: 5px; padding: 20px;}
.ss_views_by ul{ padding-left: 0;}
.ss_views_by li{ list-style-type: none; line-height:40px; border-bottom: 1px dotted #ccc;}
.ss_views_by li.active a{ color: #000;}
.payment_table{ clear: both; padding: 20px; margin-bottom: 20px;}
.ss_schedule .step_5_table ul li { font-size: 15px; width: 16%; margin: 0px; text-align: center;}
.ss_schedule .step_5_table ul lili:last-child{ width: 11%; margin: 0px;}
.ss_schedule .step_5_table ul lili:last-child{ width: 13%; margin: 0px;}
.ss_schedule .step_5_table ul.schedule_list li { font-size: 14px;}
.ss_schedule .payment_table ul { overflow: hidden;}
.ss_schedule #periodschedule ul li {
    font-size: 15px;
    width:19.5%;
    margin: 0px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    float: left;
    zoom: 1;
}
.schedule_list{ padding-left: 0px; border-bottom: 1px dotted #ccc; padding-bottom: 10px;}
.ss_schedule #periodschedule .table_header{ background: #f1f1f1;     margin: 0 0 20px 0;   padding: 13px 10px;}
.ss_schedule #periodschedule  .schedule_list li{
    font-size: 14px;
  width: 19.5%;
  text-align: center;
  padding: 10px 0px;
}

#lease_label{ background: #018648 ; }
.paid_payment{background: #ebc4b5;     padding-top: 10px;}
#recive_rent,#mono_receive_rent ul{ padding-left:0; overflow: hidden;}
#recive_rent,#mono_receive_rent ul li{ float: left; width: 24%; margin-left:1%; text-align: left; list-style-type: none;}
#recive_rent,#mono_receive_rent ul.top-header-div{ background: #fff; overflow: hidden; font-weight: bold;}
#recive_rent,#mono_receive_rent ul.schedule_list h1{ display: none;}
#recive_rent,#mono_receive_rent ul li:last-child{ width: 8%;}
.ss_dashboart{ background:rgba(255,255,255,.5); overflow: hidden; padding: 20px;  border-radius: 10px;}
.ss_dashboart .ss_accordent{ width: 31.3%; float: left;  margin: 20px 1%;  border-radius: 10px; }
.ss_dashboart .ss_accordent div{ padding: 10px; padding-top: 0; text-align: center;} 
.ss_dashboart .ss_accordent:hover{ box-shadow: none !important; }
.ss_dashboart .ss_accordent a{ text-decoration: none;}
.ss_dashboart .ss_accordent div.header_top{ min-height: 100px; background:#45abc1; color: #fff; font-weight: bold; font-size: 18px; border-radius: 5px 5px 0px 0px;}
.ss_dashboart .ss_accordent div.accordent_content { margin-top: 10px; min-height: 100px;  }
.ss_dashboart .ss_accordent:hover{ box-shadow: 0px 0px 20px #ccc;}
.ss_dashboart .accordent_content #rent_status.red{ background: #b92727; color: #fff; padding: 5px 15px; margin-left:10px; display: inline-block; margin-top: 10px;  }
.ss_dashboart .accordent_content #rent_status.blue{ background: #2AACE3; color: #fff; padding: 5px 15px; margin-left:10px; }
.ss_dashboart .ss_accordent:last-child{ width: 100%; background:#fff; color: rgb(95, 95, 95); border:1px solid #0bafd2; }
.ss_dashboart .ss_accordent:last-child .header_top{border-radius: 10px; padding-top: 30px; background:#fff; color: rgb(95, 95, 95);}
.ss_dashboart .ss_accordent:last-child .accordent_content{ background: #0bafd2 !important; min-height: 50px; background:#c0c0c0; color: rgb(95, 95, 95);  border-radius: 00px 00px 10px 10px;}
.ss_dashboart .ss_accordent:last-child .header_top br{ display: none; }

/* ss index*/
#home .container{ max-width: 1000px;}
#home .logo{ text-align: left;}
 

ul.slimmenu {
	padding-top:10px;
	padding-right:10px;
	text-align:right;
	margin-top:37px;
	margin-bottom:10px;
}
ul.slimmenu li {
    position: relative;
    display: inline-block;
}
 
ul.slimmenu > li:first-child { border-left: 0 }
ul.slimmenu > li:last-child { margin-right: 0 }
ul.slimmenu li a {
    display: block;
    color: #000;
    padding: 10px 0px;
	cursor:pointer;
    margin: 0px 12px;
	font-family:arial;
	text-transform:uppercase;
    border-bottom:2px solid rgba(0,0,0,0);
    font-size: 12px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
ul.slimmenu li a:hover {
    border-bottom:2px solid rgba(0,0,0,1);
    text-decoration: none;
}


ul.slimmenu li .sub-collapser {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.075);
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 100%;
    text-align: center;
    z-index: 999;
    cursor: pointer;
}
ul.slimmenu li .sub-collapser:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
ul.slimmenu li .sub-collapser > i {
    color: #333;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}
ul.slimmenu li ul li { background-color: #BBB }
ul.slimmenu li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 100%;
}
ul.slimmenu li:hover > ul{ background: #fff; display: block; padding-left: 0;}

ul.slimmenu li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}
ul.slimmenu.collapsed {
	padding:0;
	margin:0;
}
ul.slimmenu.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li .sub-collapser {
    height: 40px;
}
ul.slimmenu.collapsed li > ul {
    display: none;
    position: static;
}
ul.slimmenu li > ul li{ display: block; background-color: transparent; text-align: left;}
#home-top{
	position: relative; 
	padding-top:20px;
	width: 100%;
	background:#fff;
    z-index:2;
    padding-bottom:50px;
    
}

#home-top span::before,
#home-top span::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

.ss-style-doublediagonal {
	z-index: 100;
	padding-top: 6em;
	background: #fff;
}

.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
	top: -50%;
	left: -50%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.ss-style-doublediagonal::before {
	height: 50%;
	background: rgba(255,255,255,.3);
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
	-webkit-transform-origin: 3% 0;
	transform-origin: 3% 0;
}

#home-top img{ 
	width: 100%;
	height:auto;
	display:block;
}

#home-top a {
	position: relative;
	display: inline-block;
	margin-top:25px;
	font-family: 'OpenSans-Light-webfont';
	outline: none;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}

#home-top a:hover,
#home-top a:focus {
	outline: none;
}
.rotating {
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
    -o-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin-x: 50%;
  }
  
  .rotating.flip {
    position: relative;
  }
  
  .rotating .front, .rotating .back {
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .rotating .front {
    position: absolute;
    display: inline-block;
    -webkit-transform: translate3d(0,0,1px);
    -moz-transform: translate3d(0,0,1px);
    -ms-transform: translate3d(0,0,1px);
    -o-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,1px);
  }
  
  .rotating.flip .front {
    z-index: 1;
  }
  
  .rotating .back {
    display: block;
    opacity: 0;
  }
  
  .rotating.spin {
    -webkit-transform: rotate(360deg) scale(0);
    -moz-transform: rotate(360deg) scale(0);
    -ms-transform: rotate(360deg) scale(0);
    -o-transform: rotate(360deg) scale(0);
    transform: rotate(360deg) scale(0);
  }
  
  
  
  .rotating.flip .back {
    z-index: 2;
    display: block;
    opacity: 1;
    
    -webkit-transform: rotateY(180deg) translate3d(0,0,0);
    -moz-transform: rotateY(180deg) translate3d(0,0,0);
    -ms-transform: rotateY(180deg) translate3d(0,0,0);
    -o-transform: rotateY(180deg) translate3d(0,0,0);
    transform: rotateY(180deg) translate3d(0,0,0);
  }
  
  .rotating.flip.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0,0,0);
    -moz-transform: rotateX(180deg) translate3d(0,0,0);
    -ms-transform: rotateX(180deg) translate3d(0,0,0);
    -o-transform: rotateX(180deg) translate3d(0,0,0);
    transform: rotateX(180deg) translate3d(0,0,0);
  }
  
  .rotating.flip.cube .front {
    -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
    -moz-transform: translate3d(0,0,100px) scale(0.85,0.85);
    -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
    -o-transform: translate3d(0,0,100px) scale(0.85,0.85);
    transform: translate3d(0,0,100px) scale(0.85,0.85);
  }
  
  .rotating.flip.cube .back {
    -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
    -moz-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
    -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
    -o-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
    transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  }
  
  .rotating.flip.cube.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
    -moz-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
    -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
    -o-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
    transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  }

/* #Animation */

.animated {
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;

	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	animation-delay: .3s;
}

.delay {
	-webkit-animation-delay: .6s;
	-moz-animation-delay: .6s;
	animation-delay: .6s;
}
.delay1 {
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
 
.ss_home {
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
    height: 650px;
    z-index: 2;
    background-size: cover;
}
.parallax-home {
	background: url('../img/2.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
.home-text p span{    
     padding-top: 10px; 
     font-size: 15px;
  }
  .home-text{ padding-top: 100px;}
  .home-text p{ padding-bottom: 20px;}
  .home-text h1{ margin-bottom: 10px;}
  .home-text img{ position: absolute; top: -62px; right: 0; width: 100%;}
  .arrow-wrap{
    position: absolute;
    width:100%;
    top: 84%;
    left: 50%;
	margin:0 auto;
	text-align:center;
	width:40px;
	background:rgba(255,255,255,.3);
	height:40px;
	margin-bottom:0px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
    -o-transition :all 0.2s ease-out;
    z-index: 10000;
	transition : all 0.2s ease-out;
}


.arrow-down {
  ;
	margin:0 auto;
	text-align:center;
}
.arrow-down:before {
    content: "\f107"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
	width:40px;
	height:40px;
    font-size: 28px;
	line-height:40px;
}
.arrow-wrap:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.webuilt{ padding: 10% 0px;}
.getpaid{ background: #fff; padding: 10% 0px;}

.ss_partner img{ width: auto !important; margin:0 auto 30px auto; }
.getpaid p, .webuilt p{ line-height: 30px; font-size: 15px;}
.webuilt h4{ line-height: 30px; font-size: 18px;}
.getpaid li{ line-height: 24px;}
 
.ss_testmonial{ text-align: left; padding: 10% 0px;}
.ss_testmonial .item img {
    width: 130px;
    height: 130px;
    display: block;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}
.ss_testmonial { background: #f1f1f1; text-align: center;}
.ss_testmonial .item {
    position: relative;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}
.ss_testmonial .item h5 {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}
.ss_testmonial .item p{ font-size: 16px; line-height: 30px;}
.getpaid img{ width: 100%;}
#sync2 .item {
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}
#sync2 .synced .item img {
    border: 1px dashed rgba(0,0,0,.7);
    padding: 10px;
}
#sync2 .item img {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.2);
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
#home h1 {
    font-size: 38px;
    line-height: 42px;
    text-transform: uppercase;
}
.sep-center {
    position: relative;
    margin: 0 auto;
    width: 50px;
    border-top: 1px solid #000;
    margin-top: 20px;
    margin-bottom: 40px;
}
.padding-bottom {
    padding-bottom: 50px;
}
#sync2 .synced .item{  padding-bottom: 50px;}


/* custom inclusion of right, left and below tabs */
 .ss_communication{ padding: 10% 0px;}
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}
.ss_communication .nav-tabs>li>a h2{ color: #337ab7; font-size: 18px; }
.ss_communication .nav-tabs>li.active>a,  .ss_communication .nav-tabs>li.active>a:focus,  .ss_communication .nav-tabs>li.active>a:hover{
    background-color: #337ab7;
    color: #fff;
} 
.ss_communication .nav-tabs>li.active >a h2{ color: #fff;  }
.ss_communication .tabs-left > .nav-tabs{ background-color: #eee;}
.ss_communication .nav-tabs>li>a{ color: #131313;}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
.ss_communication img{ max-width: 100%; width: 82%;  position: absolute; top:-40px; right: 0px;}
.ss_communication .tab-content{ position: relative;} 


/* #services
================================================== */

#services{
	position: relative; 
	width: 100%;
	background:#fff;
	padding-top:70px;
	padding-bottom:100px;
	overflow:hidden;
	z-index:2;
}


#services p {
	text-align:center;
}

.services-wrap{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
	width: 100%;
	background:#f8f8f8;
	border:1px solid rgba(0,0,0,.05);
	padding-top:50px;
	padding-bottom:50px;
	border-radius:5px;
	overflow:hidden;
}

.font-awesome-icon{
	font-family: 'FontAwesome';
	text-align:center;
	font-size: 50px;
	line-height:50px;
	padding-bottom:20px;
}
.services-wrap .services-discr{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	bottom:-100%;
	text-align:center;
	z-index:20;
	border-radius:5px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
#services h1{ text-align: center;}
.services-wrap:hover .services-discr{
    background:#337ab7;
	bottom:0;
}
.services-wrap .services-discr h5{
	padding-top:40px;
	padding-bottom:20px;
	color:#fff;
	text-align:center;
}
.services-wrap .services-discr p{
	padding-right:30px;
	padding-left:30px;
	color:#fff;
	text-align:center;
}
.services-wrap h5{
    font-size: 22px;
    line-height: 26px;
    text-transform: capitalize;
}
.ss_price{ padding: 10% 0; text-align: center}
.ss_price h2{ color: #337ab7; margin-bottom: 30px;     padding-top: 10%;}
.ss_price p{ font-size: 16px; line-height: 30px;}
.ss_price p small{ color: rgb(71, 71, 71);}
.ss_price_col{ background:#337ab7; padding: 30px 0px; color: #fff; }
.ss_price_col .price-wrap{ padding: 20px 0; background:#8d1616; }
.ss_price_col .price-wrap h4{ font-size:50px; font-weight: bold; }
.ss_price .price-wrap small{ color: #ccc;}
.ss_price h5{ padding-bottom: 20px;}
.ss_price h6{ padding-top: 20px;}
.table-link { margin-top: 20px; display: block; }
.table-link a{  display: inline-block; color: #fff; padding:10px 50px; border:2px solid #fff; border-radius: 10px; }
.ss_main_content{ background: rgba(255,255,255,.5); border-radius: 10px; }
#footer{ background-color: #eee; padding: 5% 0; text-align: center;}
.ss_no_bg{ background: transparent; }
#footer img{ max-width: 250px;}
.cl-effect-7 a{ display: inline-block; padding: 10px 15px;}
.tenant_access{ padding: 20px; background: #fff ; margin-top:30px;}
.top_dashbord_menu .navbar-default li a{ color: #fff;     font-size: 15px;    font-weight: bold;     padding: 15px 10px;
    border-right: 1px solid #03abcb;}
 .ss_container::before{ height: 34px; position: absolute; top: -34px; content:""; display: block; width: 90%; background: url(../img/shadow_product_top.png) no-repeat; background-size: 100%;}   
.top_dashbord_menu .navbar-default li a:hover{ color: #a2f0ff;}
.dashbord_poperty .container{ max-width: 1000px;}
.dashbord_poperty .logo{ text-align: left;}
.top_dashbord_menu .navbar-default{
    border-radius: 0;
 background: linear-gradient(#16bde4, #0393af);

}
.ss_dashboart .ss_accordent{ background: transparent; box-shadow: none; }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #ffffff;
    color: #18acc8;
 }
 .top_dashbord_menu  .navbar-nav>li>.dropdown-menu{ background-color:#18acc8; }
 .top_dashbord_menu  .dropdown-menu>li>a{ min-width:200px; padding: 10px 20px;  font-size: 14px;    font-weight:normal;}
 .top_dashbord_menu  .dropdown-menu>li>a:hover{ background-color:#fff; color: #18acc8 !important;}
 .ss_side_right{ background: none; min-height: auto; padding-top: 20px; }
.ss_side_right .ss_dashboart{ background: transparent; border-bottom: 1px dotted #ccc;  }
.ss_side_right .btn { display: block; margin-bottom: 10px;}
.ss_price_text{ color: #18acc8; font-weight: bold;}
.table-bordered{ background: #fff; }
#ss_d_top_content{ text-align: center;}
.label-success, .label-paid {
    background: #669700;
    padding: 5px 10px;
    color: #fff;
    border-radius: 50px;
}

.m_status-new {
    background-color: #f7b71d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
}
#ss_d_top_content h2{ line-height: 36px; border-radius: 10px 10px 0px 0px; font-weight: bold; border:1px solid #f1f1f1; background:transparent; padding: 5px 10px; font-size: 22px; margin-bottom: 20px;}
.rent-payments h1 {
    float: left;
    text-align: left;
    padding-right:10px;
    margin-top: 10px;
}
.dashboard_element {
    border-top: 1px dashed #d6d6d6;
    /* border-bottom: 1px dashed #d6d6d6; */
    margin: 10px -20px 30px;
    padding: 30px 32px;
    background: #fff;
}
.dashboard_element h1{ font-size: 20px;}
.clear {
    clear: both;
}
.payments_list{ overflow: hidden; padding-left: 0px; margin-top: 20px;}
.payments_list li{ float: left; list-style-type: none; width: 33%; font-weight: bold; font-size: 16px;}
.ss_schedule #periodschedule .schedule_list li .glyphicon-edit{ color: #b5b6b6;     margin-left: 10px;}
.ss_container{
    background: rgba(255,255,255,.5);
    border-radius: 10px;
    position: relative;
     
    padding: 20px;
    margin-top: 34px
}
.ss_container .nav-tabs>li{ margin-bottom: 0;  font-weight: bold; line-height: 38px;  font-size: 15px; }
.ss_container .nav-tabs>li:first-child{ padding-right: 30px; padding-left: 20px;}
.ss_container .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #1bc2e3;
    border-radius:0px; color: #fff;
    background: #02accd; border-top: 0; border-bottom: 0;
    font-weight: normal;
    font-size: 15px;
   
}
 

.ss_container .nav-tabs>li.active>a, .ss_container .nav-tabs>li.active>a:focus, .ss_container .nav-tabs>li.active>a:hover{  background: rgb(255, 255, 255); color: #02accd; border-radius:0px; border: 1px solid #ddd; border-top: 0; border-bottom: 0; }
.ss_container .nav-tabs{ border: none; margin-bottom: 30px; background: #02accd; }

.ss_container h3{ font-weight: bold; text-align: left;}
.inputDnD .form-control-file {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    -webkit-box-shadow: 0 0 5px solid currentColor;
            box-shadow: 0 0 5px solid currentColor;
  }
  .inputDnD .form-control-file:before {
    content: attr(data-title);
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    min-height: 6em;
    line-height: 2em;
    padding-top: 1.5em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    border: 0.25em dashed currentColor;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
  }
  .inputDnD .form-control-file:hover:before {
    border-style: solid;
    -webkit-box-shadow: inset 0px 0px 0px 0.25em currentColor;
            box-shadow: inset 0px 0px 0px 0.25em currentColor;
  }
    .ss_container > h2{color: #03acce;}
  .ss_container h2{ font-weight: bold; font-size: 24px; }
  .ss_container h2 small span{ color: #18acc8}
#printshare .nav-tabs>li{ width: 50%; }
#printshare .modal-header{ background: #18acc8; color: #fff; text-align: center; font-weight: bold; }
#printshare .form-group{ margin-top: 10px; background: #f1f1f1; padding: 20px 0px; overflow: hidden; font-size: 15px;}
#printshare .form-group label.col-md-5{ margin-top: 10px;}
.ss_expensesinvoices_top{   margin-bottom: 20px;  background: #fff; padding: 30px 0px; overflow: hidden;}
.expense_title_bar p{font-weight: bold;}
.ss_expensesinvoices_top h2{display: inline-block; font-weight: bold; font-size: 20px; margin-top: 10px;}
.ss_expensesinvoices_content .expense_title_bar { background:#f1f1f1 !important; overflow: hidden;  margin: 0;   padding: 10px 32px 0 40px;  background:#fff;}
.ss_expensesinvoices_c_view{ background: #fff; padding: 20px 32px 10px 40px; overflow: hidden; border-bottom: 1px dotted #ccc;}
.ss_expensesinvoices_c_view .table-name{ display: none;}
.ss_wxpance_ifo{ clear: both; background: #ccc; overflow: hidden; padding-top: 20px;}
.ss_expanse_top_h{ cursor: pointer;}
.ss_expensesinvoices_content{ padding-bottom:30px;margin-top: 100px;}
.extra_padding{ padding: 10px 0px; overflow: hidden;}
.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: none;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.stepwizard-content{
 border:none !important;
 float: left !important;
 margin-top: 0 !important;
 padding: 15px !important;
 width: 100% !important;
 
}
.text-primary{ color: #b92727;}
.padding20{ padding: 20px;}
#addnewpaiddueexpense .btn-primary{ display: inline-block; margin-top: 30px; clear: both;}
#addnewpaiddueexpense .modal-title{ font-weight: bold; }
#addnewpaiddueexpense .form-group{ overflow: hidden;}
#taxreport .modal-title {  font-weight: bold;}
#taxreport  ul{ padding-left: 20px;}
#viewcategory .row-fluid, #viewbydate .row-fluid{ padding: 10px 0px; overflow: hidden;}
#viewcategory .table_title, #viewbydate .table_title{ font-weight: bold; background: #fff; overflow: hidden;}
#viewcategory h5, #viewbydate h5{ font-weight: bold;} 
#viewcategory, #viewbydate{ font-size: 15px;}
#viewcategory .special_row, #viewbydate .special_row{
    border-top: 1px dashed #CCC !important;
    border-bottom: 1px dashed #CCC !important
}
#viewcategory p.total, #viewbydate p.total {
  
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    font-weight: bold;
}
#viewcategory  .total, #viewbydate  .total {
    
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    font-weight: bold;
}
.ss_d_top{ font-size: 16px; overflow: hidden; padding: 30px 10px; line-height: 30px;}
#report_share_list h4, #report_download_list h4{ font-size: 24px; font-weight: bold;}
.document-actions{ padding: 15px 0px; margin: 20px 0px ; overflow: hidden; text-align: right; clear: both; background: #f9f9f9;}
.ss_bound_content{ overflow: hidden;     width: 100%;  margin-top: 30px;}
.ss_bound_content form{ padding: 10px 0px; }
.document-list-header{ overflow: hidden; margin-bottom: 10px; padding: 10px 0px; background: #f1f1f1; font-weight: bold;text-align: center}
.documents-list_area{
    text-align: center;
    padding: 10px 0px;
    overflow: hidden;
    border-bottom: 1px dotted #ccc;}
    #ss_refreah{ padding: 10px 20px 6px 20px; }
.documents-list_area h4.table-name{ display: none;}
.documents-list_area .sharing-count span {
    display: inline-block;
}
.documents-list_area img {
    max-height: 24px;
}
.documents-list_area a{ color: #333;}
.documents-list_area a:hover{ color:#b92727;}
.ss_exrc{ background: #018648; padding: 5px 10px ; line-height: 20px; color: #fff; font-weight: bold;}
.ss_maint{  background: #2f0186; padding: 5px 10px ; line-height: 20px; color: #fff; font-weight: bold;}
.ss_lbond{ background: #aa6203; padding: 5px 10px ; line-height: 20px; color: #fff; font-weight: bold;}
.ss_aarchive{ background: #033eaa; padding: 5px 10px ; line-height: 20px; color: #fff; font-weight: bold;}

.documents-list_area .sharing-count, .documents-list_area .doc-count {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 0.5em;
    line-height: 24px;
}
.ss_invice_to li{ list-style-type: none; }
.ss_invice_to{ font-size: 15px;}
.ss_invice_list{ overflow: hidden; clear: both; padding: 30px 0px;}
.ss_invice_h_top{ background: #f1f1f1; padding:20px 20px 10px 20px; font-weight: bold;}
.ss_invice_list_con{ border-bottom: 1px solid #ccc; padding: 10px 20px;}
.ss_invice_list_con .glyphicon{ font-size: 20px; line-height: 35px;}
.modal-title{ font-weight: bold;}
#moneyincreateinvoice .form-group{ overflow: hidden;}
#property_photos_info .row-fluid{ overflow: hidden; padding: 10px 0px;}
#ss_f_dashboard #ss_d_top_content h2{  padding: 20px 0px; margin-bottom:0px; }
#ss_f_dashboard #ss_d_top_content h4{border: 1px solid #e7e7e7; padding: 30px 0px; border-radius: 0px 0px 10px 10px; background: #f9f9f9; margin-top: 1px;}
.ss_f_dashboard_content{ overflow: hidden; padding: 20px 0px;}
.ss_container .ss_f_dashboard_content .nav-tabs>li:first-child{ padding-right: 0px;}
.ss_container .ss_f_dashboard_content .nav-tabs>li:first-child a { margin-left: 0; }
.ss_sidebar{ background: #fff; padding: 20px;}
.total_purchase_costs{ overflow: hidden;}
.total_purchase_values{ clear: both; overflow: hidden; padding: 10px 0px; font-size:16px;}
.total_purchase_costs .row-fluid { overflow: hidden;}
.total_purchase_costs .cost_amount{ font-weight: bold;}
img#blah[src=""] {
    display: none;
 }
 #ss_status{ height:34px; line-height:34px; background: #000; color: #fff; padding: 6px 12px; border:none; border-radius: 4px;  font-size: 14px;}
 #ss_status option{ line-height: 34px; height: 200%; }
 .ss_up_to_date{ background:#18acc8 !important; width: 100%;  }
 .ss_ahead_of_schedule{ background:#018648 !important; width: 100%; }
 .ss_in_arrears{ background: #aa6203 !important; width: 100%; }
 .ss_i_don_know{background: #000 !important; width: 100%;}
 .table td{     vertical-align: middle !important;}


 /*ss new style*/


.top_dashbord_menu { overflow-y: auto; height: 100%; margin-top: 61px;  padding-bottom: 61px; position: fixed !important;  top: 0; bottom: 0; z-index: 1029;}
.top_dashbord_menu { background-color: #0393af; width: 230px; left: 0; position: absolute; border-right: 1px solid #e3e3e3;}
 
.ss_main_container {  position: relative;   left: 0;  margin-left: 230px;   min-height: 100%;}
.ss_main_container .container, .setup_multistape .container{ width: auto; max-width: 1000px; }
.top_dashbord_menu .navbar-nav > li{ float: none; border-bottom: 1px solid #6ecee3;}
.top_dashbord_menu  .container{ width: auto; padding: 0; }
.top_dashbord_menu .navbar-default{ border:none; }
.top_dashbord_menu .navbar-default li a{ border:none !important; }
.top_dashbord_menu .navbar-collapse{ padding: 0; }
.top_dashbord_menu .navbar-nav{ float: none; }
.top_dashbord_menu .dropdown-menu{ float: none; border-radius: 0; position: relative; box-shadow: none; }
.top_dashbord_menu .navbar-nav .caret{ float: right; margin-top: 9px; }
.top_dashbord_menu .navbar-nav > li > .dropdown-menu{ border:none; }
.top_dashbord_menu .container-fluid{ padding: 0; }
.top_dashbord_menu .navbar-nav > li > .dropdown-menu li{ border-bottom: 1px dotted #6ecee3; }
 .scrollable .viewport .overview{ width: 100%; }
 .navbar-brand img{ width: 100%; }
 .be-top-header .be-navbar-header {
float: left;
    display: -ms-flexbox;
    display: flex;
    width: 230px;
}
.be-top-header .be-right-navbar {
    padding-right: 20px;
    
}

.float-right {
    float: right !important;
}
.ss_heading_s{ padding-top: 100px; }
.ss_expensesinvoices_top h4{ font-size: 14px; }
.ss_bound_content{ padding: 20px; }
.setup_multistape > .container{ margin-top: 100px; }
.setup_multistape > form.container{margin-top: 10px;}
.ss_main_container .navbar li a, .be-top-header .navbar-nav li a{ color: #333; }
.ss_main_container .navbar-nav > li{ margin-left: 10px;  }
.ss_main_container .dropdown-menu a{ color: #fff; }
.ss_main_container .dropdown-menu, .be-top-header .navbar-nav .dropdown-menu{ background-color: #13b7dc;  }
.ss_main_container .navbar-nav > li > a, .be-top-header .navbar-nav > li > a{  padding-top: 20px; padding-bottom: 20px; }
.ss_main_container .navbar li.ss_menu_right .dropdown-menu{ right: 0; left: auto; }
.ss_box{ background: #fff; }
.ss_dashboart .ss_accordent{ position: relative; }
.ss_dashboart .ss_accordent:hover .accordent_content{ background: #fff; display: block; position: absolute; width: 100%; left: 0;  padding: 15px; z-index: 10000; }
 .ss_schedule, .ss_container{ margin-top: 100px;overflow: hidden; }
 .setup_multistape .ss_schedule{ margin-top: 0; }
 .extar_p{ text-align: right; padding-right: 15px; }
 .rs_views_by{ overflow: hidden; padding: 0; background: #6ecee3; border-radius: 0; }
 .rs_views_by li{ font-weight: bold;; float: left; padding: 10px 30px;  }
 .rs_views_by li a{ color: #333; font-weight: normal; }
 .rs_views_by li.active{ background: black; }
 .rs_views_by li.active a{ color: #fff; }
.be-top-header .container-fluid{ width: 100%; }
.be-top-header .be-navbar-header .navbar-brand {
    line-height: 60px;
    height: 60px;
    width: 142px;
    
    padding:10px 20px;
    margin: 0;
    display: block;
}
.be-top-header {
    background-color: #FFF;
    border: 0;
        border-bottom-width: 0px;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    margin-bottom: 0;
    border-bottom: 1px solid #e6e5e5;
    padding: 0;
}
.fixed-top {
    top: 0;
}
.fixed-bottom, .fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-expand {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.ss_no_bg, .ss_side_right .ss_dashboart{ margin-top: 0; }

form{ overflow: hidden; }

.ss_active{ margin-left: 0; }

.ss_dashboart .ss_accordent div.header_top {  min-height: auto; background: #45abc1; color: #fff; font-weight: bold;  font-size: 18px;  border-radius: 5px;  padding: 10px;  }
.ss_dashboart .ss_accordent div.accordent_content{ display: none; }
.ss_headings{ font-size: 20px; text-align: left; border-bottom: 1px dotted #ccc; line-height: 30px; }
.paid_payment { background: #222;  padding-top: 10px; color: #fff;}
.label-danger { background-color: #d81e1e;}
.extra_heading{ text-align: left; color: #222; margin-top: 0; font-size: 24px; background: #fff; padding: 10px 15px; border-left: 5px solid #15bae1;  }
.form_heading{ margin:0px 20px; text-align: center; border-bottom: 1px dotted #ccc; font-size: 18px; line-height: 30px; text-align: left;  margin-bottom: 30px;}
.no_margin{ margin-left: 0; }

.setup_multistape .nav-pills > li.active > a, .setup_multistape .nav-pills > li.active > a:focus, .setup_multistape .nav-pills > li.active > a:hover{border-radius: 50px; background-color: #17a6c4;}
.ss_color{ text-align: center; margin: 20px 0px; }
.ss_color div{  color: #222; display: inline-block; padding: 10px; border:1px solid #ccc ; min-width: 150px; }
.ss_color div span{ margin-right: 10px;  display: inline-block; background: #000; height: 10px; width: 20px;   }
.ss_color div span.green_c{ background: #105a0b; }
.ss_color div span.green_r{ background: #ae1212; }
.ss_side_right .ss_box{
    text-align: center;
}
.ss_side_right .ss_box h2 { line-height: 36px;  border-radius: 10px 10px 0px 0px;    font-weight: bold;
    border: 1px solid #f1f1f1;  background: transparent;  padding: 5px 10px;  font-size: 22px;
    margin-bottom: 20px; }
.dashboard_element{ margin: 0; }
#ss_d_top_content .ss_box{ min-height: 300px; }
.ss_graph{ margin-bottom: 20px; }

/*ss new style end*/

@media (min-width: 768px){
  
#recive_rent,#mono_receive_rent .modal-dialog {
    width: 800px !important;
    margin: 30px auto;
}
#complete_wizard .modal-dialog {
    width: 400px !important;
    margin: 30px auto;
}
}
@media (max-width: 768px){
  .top_dashbord_menu { display: none; }
 
  .top_dashbord_menu .navbar-header{ display:none;}
  .ss_main_container .navbar-nav .open .dropdown-menu{ position: absolute; }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{ color: #fff; }
  .navbar-nav{ margin: 0; }
.ss_dashboart .ss_accordent{ width: 48%; }
.nav>li{ display: inline-block; }
.top_dashbord_menu .navbar-collapse{ display: block; margin: 0; }
.ss_main_container{ margin-left: 0 }
.ss_active{ margin-left: 230px; overflow: hidden; }
.top_dashbord_menu .navbar-default li{ display: block; }
.ss_main_container .navbar-nav > li{ margin-left: 0; }
.be-top-header .be-navbar-header{ width: auto; }
.be-top-header .be-navbar-header .navbar-brand{    width: 113px;    padding: 10px 0px;}
.be-top-header .be-right-navbar{ padding-right: 0; }
}
@media (max-width: 500px){
 .ss_user_menu > a{ font-size: 0;   padding-right: 0 !important;}
.ss_user_menu > a b, .ss_user_menu > a span{ font-size: 14px; }
}
#all_submit_form{ overflow: inherit;}

.force_black{
    color: black !important;
}

.label{
    font-size: 100% !important;
}

.allside-margin-10{
    margin: 10px;;
}
.allside-margin-25{
    margin: 25px;
}
.month-list:hover{
    background-color: black;
}
.rm_top_btn{ margin: 15px 0px;}
.rm_top_btn .col-sm-5 .row > div{ width:auto; display: inline-block; float: none; margin: 0; padding: 0;}
.rm_top_btn .col-sm-5 .row{  text-align: right;}
.mrwell{ background-color: transparent; border: none;}
.ss_main_container .ss_container .tab-content{ margin-top: 10px; clear: both;}
.ss_expensesinvoices_content .f_form,  .ss_expensesinvoices_content .top-table-name{ text-align: center;}
.ss_expensesinvoices_content .row-fluid{ clear: both;text-align: center;}

.mr_notice{position: relative !important;}
.mr_notice > .badge{position: absolute !important;right: 0;top: 8px;}
.mr_ul > li {position: relative;padding-right: 20px;}
.sp_noti_mark {
 position:absolute;
    top: 0;right: 5px;
    background-color: white;
    padding: 4px;
}
.sp_noti_mark:hover{
    color: white;
    background-color: #2b2b2b;
    font-size: larger;
}

#noti .dropdown-menu{
    right: 0;
    left:auto;
}

select.form-control{
    padding: 6px 8px;
}

.paid_attachment,.list-group-item{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

@media only screen and (max-width: 500px) {
    .rs_views_by li{    float: none;   padding: 2px 30px;    }
    .ss_schedule .step_5_table ul li{width: 100%; line-height: 30px;}
    table {   width: 100% !important;   display: block;      overflow: scroll;    }
    .ss_schedule{ padding: 10px;}
    .ss_schedule #periodschedule .schedule_list li, .ss_schedule #periodschedule ul li{ width: 100%; line-height:30px;}
    .btn-light, .btn-primary{ margin-bottom: 10px;}
    .setup_multistape .nav-pills > li + li{width: 47%;}
    .form_heading{ margin-bottom:5px;
        margin-left: 0;}
    .rm_top_btn .btn{ margin-top:10px;}
    .form-horizontal .form-group{ text-align: left}
    #recive_rent, #mono_receive_rent ul li{ width: 24%;}
     body .close_status.label{ margin-top: 0;}
    .new_status.label, body .urgency-label{margin-top: 0 !important;}
    .ss_bound_content .nav > li > a{padding: 10px 7px;}
    .maintenance_list_details h4{ text-align: left;}
    .document-list-header{ line-height: 30px;}
   #document_title, .document-list-header .uploaded-date{line-height:20px;}
}